@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}

.images img {
  border-radius: 40px;
}

.imgp {
  border-radius: 20px;
  padding: 15px 20px;
  transition: transform 0.5s ease;
}

.imgp:hover {
  transform: scale(1.05);
}

.or{
    border: 4px solid orange;
}

.wh {
  border: 4px solid white;
}

.gr {
  border: 4px solid green;
}

.head {
  border-bottom: 2px solid rgb(235, 126, 17);
}

.idols {
  border-bottom: 2px solid green;
}

.about {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.imag {
  border-radius: 40px;
  transition: transform 0.5s ease;
  box-shadow: 5px 5px 15px rgba(123, 255, 0, 0.3);
}

.imag:hover {
  transform: scale(1.1);
}

